@model WebApplication10.actividad

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @*<script src="~/Scripts/employee.js"></script>*@
    <title>La Juana Tours</title>

</head>
<body>
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="brand" data-target=".navbar-brand">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("La Juana Tours", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar navbar-default">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("La Juana Tours", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li class="active">@Html.ActionLink("Tours", "Index", "tours", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Lugares Turisticos", "Index", "lugares", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Clima", "Index", "climas", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Actividades Por Hacer", "Index", "actividads", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("+ Informacion (API)", "Index", "api", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-md-12">
            <table id="tblProduct" class="table table-striped table-bordered" width="80%">
                <div class="form-horizontal">
                    <h4><p><center>Agrega Una Actividad...</center></p></h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombreactividad, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nombreactividad, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nombreactividad, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Descripcionactividad, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Descripcionactividad, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Descripcionactividad, "", new { @class = "text-danger" })
                        </div>
                    </div>
            </table>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </div>

    }

    <div>
        @*//aqui va algo*@
    </div>
</body>

</html>