@model WebApplication10.tour

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @*<script src="~/Scripts/employee.js"></script>*@
    <title>La Juana Tours</title>

</head>
<body>
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="brand" data-target=".navbar-brand">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("La Juana Tours", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar navbar-default">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("La Juana Tours", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li class="active">@Html.ActionLink("Tours", "Index", "tours", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Lugares Turisticos", "Index", "lugares", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Clima", "Index", "climas", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Actividades Por Hacer", "Index", "actividads", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("+ Informacion (API)", "Index", "api", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <h4>Observa Los Siguientes Detalles:</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombretour)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombretour)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripciontour)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripciontour)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.actividad.Nombreactividad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.actividad.Nombreactividad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.clima.Nombreclima)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.clima.Nombreclima)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.lugare.Nombreestado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.lugare.Nombreestado)
            </dd>

        </dl>
    </div>
    <p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("Edit", "tours", new { id = Model.IDtour })" class="btn btn-primary">
                    <span><strong>Editar Datos</strong></span>
                </a>
                <a href="@Url.Action("Index")" class="btn btn-info">
                    <span><strong>Regresar a la Lista</strong></span>
                </a>
            </div>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.IDtour }) |
            @Html.ActionLink("Back to List", "Index")*@
</p>
</body>
</html>
